= simple_form_for [resource.speech, resource], html: {class: 'form-horizontal'} do |f|
  = f.association :language
  = f.association :year_of_study
  .form-actions
    = f.submit class: "btn btn-large btn-primary"